<html ng-app="scroll" ng-controller="MyController">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <div id="header">
            <a id="logo" href="">{{title}}</a>
            <div id="header-buttons">
                <a class="button" href="#">Refresh</a>
                <a class="button" href="#">Settings</a>
            </div>
        </div>
        <div id="sidebar">
            <a href="" class="subscribe-button">Subscribe</a>
            <ul class="feed-list">
                <li ng-repeat="(id, feed) in feeds" ng-click="select_feed(id)">
                    <div class="feed-item-main feed-item-selected-{{id == selected_feed}}">
                        {{feed.title}}
                    </div>
                    <div class="feed-item-context" ng-click="alert('foo'); $event.stopImmediatePropagation()">
                        <div class="down-arrow"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="content" when-scrolled="load_entries()" on-scroll-current="foo()">
            <a href="{{feeds[selected_feed].site_url}}" class="feed-title" target="_blank">{{feeds[selected_feed].title}} &raquo;</a>
            <div class="entry entry-selected-{{$index == selected_entry}}" ng-repeat="entry in entries">
                <div class="entry-main">
                    <a class="entry-title" href="">{{entry["title"]}}</a>
                    <p class="entry-source">from <a href="" class="entry-source" ng-click="select_feed(entry.feed_id)">{{feeds[entry.feed_id].title}}</a></p>
                    <p>{{entry["content"]}}</p>
                </div>
                <div class="entry-bottom">
                    <input id="keep-unread-{{$index}}" type="checkbox" ng-model="entry.read" ng-checked="entry.read" /><label for="keep-unread-{{$index}}" >Keep unread</label>
                </div>
            </div>
        </div>
    </body>
</html>
