<html ng-app="scroll" ng-controller="MyController">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <div id="header">
            <a id="logo" href="">{{title}}</a>
            <div id="header-buttons">
                <a class="button" href="#">Refresh</a>
                <a class="button" href="#">Settings</a>
            </div>
        </div>
        <div id="sidebar">
            <ul>
                <li ng-repeat="(id, feed) in feeds">
                    <a href="" ng-click="select_feed(id)" class="selected-{{id == selected_feed}}">
                        {{feed.title}}
                    </a>
                </li>
            </ul>
        </div>
        <div id="content" when-scrolled="load_entries()">
            <div class="entry" ng-repeat="entry in entries">
                <a class="entry-title" href="">{{entry["title"]}}</a>
                <p class="entry-source">from <a href="" class="entry-source" ng-click="select_feed(entry.feed_id)">{{feeds[entry.feed_id].title}}</a></p>
                <p>{{entry["content"]}}</p>
            </div>
        </div>
    </body>
</html>
