body {
    margin: 0px;
    font-family: arial, sans-serif;
}
#header {
    height: 44px;
    border-bottom: 1px solid #ebebeb;
    padding-left: 16px;
    line-height: 40px;
}
#header-buttons {
    position: absolute;
    left: 252px;
    top: 0px;
}
#sidebar {
    float: left;
    width: 236px;
    padding-top: 16px;
}
#sidebar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#sidebar a {
    text-decoration: none;
    font-size: 11pt;
    color: #333;
    display: block;
    padding: 2px;
    padding-left: 16px;
    border-left: 3px solid #ffffff;
}
#sidebar a.selected-true {
    color: #d14836;
    border-left: 3px solid #dd4b39;
}
#sidebar a:hover {
    background-color: #eee;
}
#content {
    overflow-y: auto;
    position: absolute;
    left: 252px;
    bottom: 0px;
    top: 60px;
    right: 0px;
}
a.entry-title {
    color: #15c;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

#logo {
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 20px;
    color: rgb(221, 75, 57);
}

div.entry {
    border: 1px solid #ebebeb;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    box-shadow: rgb(227, 229, 235) 0px 0px 4px 0px;
}

div.entry-selected-true {
    border-left-color: rgb(77, 144, 240);
}

p.entry-source {
    margin: 0px;
    color: rgb(102, 102, 102);
    font-size: 13px;
}

a.entry-source {
    color: rgb(17, 85, 204);
    text-decoration: none;
}

a.button {
    padding: 8px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    background-color: #f5f5f5;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    font-size: 11px;
}

a.feed-title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    text-decoration: none;
    margin-bottom: 6px;
    padding-bottom: 10px;
    border-bottom-color: rgb(235, 235, 235);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
